<hr>
<footer>
    <p class="text-muted">
        (C) 2017 - {{ year }}, Lance Wicks.
        <span class="float-md-end">
            Version <span class="font-monospace">{{ version }}</span>
        </span>
    </p>
</footer>