<!DOCTYPE html>

<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- HTML Meta Tags -->
    <title>MyJudo.net - Judo Training Tracker</title>
    <meta name="description" content="Judo training application, record your sessions and techniques">
    <meta name="keywords" content="judo,training,application,software">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="MyJudo.net - Judo Training Tracker">
    <meta itemprop="description" content="Judo training application, record your sessions and techniques">
    <meta itemprop="image" content="https://myjudo.net/img/myjudo_charts.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://myjudo.net">
    <meta property="og:type" content="website">
    <meta property="og:title" content="MyJudo.net - Judo Training Tracker">
    <meta property="og:description" content="Judo training application, record your sessions and techniques">
    <meta property="og:image" content="https://myjudo.net/img/myjudo_charts.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="MyJudo.net - Judo Training Tracker">
    <meta name="twitter:description" content="Judo training application, record your sessions and techniques">
    <meta name="twitter:image" content="https://myjudo.net/img/myjudo_charts.jpg">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <script defer src="/js/fontawesome-all.min.js"></script>
    <script src="https://www.gstatic.com/charts/loader.js"></script>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="/">MyJudo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
            {{#user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cogs" aria-hidden="true"></i> Settings</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/password-change">
                            <i class="fas fa-key" aria-hidden="true"></i>
                            Change Password
                        </a>
                        <a class="dropdown-item" href="/logout">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            Logout
                        </a>
                    </div>
            {{/user}}
            {{^user}}
                <li class="nav-item">
                    <a class="nav-link" href="/register">
                        <i class="fas fa-user-plus" aria-hidden="true"></i>
                        Register
                    </a>
                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <i class="fas fa-sign-in-alt" aria-hidden="true"></i>
                        Login
                    </a>
            {{/user}}
            </ul>
        </div>
    </nav>
