{{> header-logged-out}}



    <div class="container">

      <div class="starter-template">
        <h1>My-Judo</h1>
	<div>
	  <p />
<h2>Overview</h2>
<p>MyJudo.net is a site to allow you to track your Judo training.</p>
<p>
Simply register for free and after every training session record what throws and groundwork techniques you did.
<br />
The site will then show you how many sessions you have attended, what techniques you have practiced and how many times.
</p>

<p>
<img src="/img/myjudo_charts.jpg" class="img-fluid">
</p>

<h2>Features</h2>
<p>Currently MyJudo allows you to record each session you attend along with which Judo techniques you practised. We then calculate statistics for you. We also provide links to the best training video for each technique.</p>

<h3>Training Session Statistics:</h3>
<ul>
  <li>Training session this week
  <li>Training sessions this month
  <li>Training sessions last month
  <li>Training sessions this year
  <li>Training sessions total
</ul>

<h3>Technique Statistics:</h3>
<ul>
  <li>Techniques this week
  <li>Techniquess this month
  <li>Techniquess last month
  <li>Techniquess this year
  <li>Techniquess total
</ul>


<h2>Help us grow</h2>
<p>
This is a small project, your participation, support and involvement is what will help us make this all happen.<br />
We are looking for users, promoters, software developers (Perl6 preferably), designers (web, graphics, etc). We would love ideas for new features, bug reports, etc.
</p>

<h2>Pricing</h2>
<p>
This site is free to use, and will stay free to use.<br />
We plan accept donations and take payment to remove adverts and to enable some advanced future features we have planned. We also plan to have affiliate schemes in place with partners so that if you choose to buy something we will take a small percentage. We will NOT give your email or personal information to third parties without informing you (in advance).
</p>
<p>
If you would like to have a hosted version for your club or association, please contact lw@judocoach.com to discuss setting this up and how you might financially support this
</p>


<h2>Privacy and Open Source</h2>
<p>
This site will respect your privacy, we will not share your personal data. We are building a site that is as secure as we can build it and built so that your data remains your data.
<br />
The software is build with and as open source software, so you are able to read the source code and confirm how the site works.
</p>

<h2>Links</h2>
<p>
<ul>
  <li> <a href="https://myjudo.net">MyJudo.net - This Site</a>
  <li> <a href="https://github.com/lancew/MyJudo">Github Repo - Where the source code resides</a>
  <li> <a href="https://github.com/lancew/MyJudo/issues">Bug Reports - Tell us what does not work</a>
  <li> <a href="https://github.com/lancew/MyJudo/projects">Project Plan - Discover what we are planning</a>
  <li> <a href="http://cro.services">Cro - libraries for building reactive distributed systems</a>
  <li> <a href="https://perl6.org/">Perl6 - The programming language we are using for server side code</a>
</ul>


</p>

{{> footer}}