% my ($h) = @_;

    <h1>Login</h1>
    <div class="wrapper">
      <form method="post">
        <p><input class="form-control" type="text" name="login" value="" placeholder="Username or Email" autofocus></p>
        <p><input class="form-control" type="password" name="password" value="" placeholder="Password"></p>
        <input type="submit" value="Login" class="btn btn-primary">
      </form>
    </div>

