{{> header-logged-out}}

<main class=container>
    <h1>Password Reset Request</h1>

{{#submitted}}
	<h2>
		Password request has been received, please check you email inbox
	</h2>
{{/submitted}}

{{^submitted}}
    <div class="wrapper">
      <p>Forgotten your password? Please enter your username or the email you registered with here and an email will be sent to you with a link to a password reset form. This link can be used only once and expires after 20 minutes</p>
      <form method="post">
        <p><input class="form-control" type="text" name="login" value="" placeholder="Username or Email" autofocus></p>
        <input type="submit" value="Request Password Reset" class="btn btn-primary">
      </form>
    </div>
{{/submitted}}

</main>

{{> footer}}
