{{> header}}

<main class="container">
	<h1>Password change</h1>

	<form method="post">
		<label class="d-block form-group" for="pw-existing">
			Existing Password
			<input id="pw-existing" class="form-control" type="password" name="password" placeholder="Existing Password">
		</label>
		<label class="d-block form-group" for="pw-new">
			New Password
			<input id="pw-new" class="form-control" type="password" name="password-new" placeholder="New Password">
		</label>
		<label class="d-block form-group" for="pw-repeat">
			Repeat New Password
			<input id="pw-repeat" class="form-control" type="password" name="password-repeat" placeholder="Repeat New Password">
		</label>
		<input type="submit" value="Change Password" class="btn btn-primary">
	</form>
</main>

{{> footer}}
