{{> header}}

<main class=container>
	<h1>Password change</h1>

	<form method=post>
		<input class="form-control form-group" type=password name=password placeholder="Existing Password">
		<input class="form-control form-group" type=password name=password-new placeholder="New Password">
		<input class="form-control form-group" type=password name=password-repeat placeholder="Repeat New Password">
		<input type=submit value="Change Password" class="btn btn-primary">
	</form>
</main>

{{> footer}}
