{{> header}}

<main class=container>
	<h1>Register</h1>

	<form class=form-group method=post>
		<label class="d-block form-group">
			Username
			<input class=form-control name=usernamesignup placeholder=mysuperusername690 required>
		</label>
		<label class="d-block form-group">
			Email
			<input class=form-control name=emailsignup placeholder=mysupermail@mail.com required type=email>
		</label>
		<label class="d-block form-group">
			Password
			<input class=form-control name=passwordsignup required type=password>
		</label>
		<label class="d-block form-group">
			Confirm Password
			<input class=form-control name=passwordsignup_confirm required type=password>
		</label>
		<input class="btn btn-primary" type=submit value=Register>
	</form>

	<p>
		Already a member?
		<a href=/login>Login.</a>
	</p>
</main>

{{> footer}}
